name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install system deps
      run: |
        sudo apt update
        sudo apt install -y \
          python3 python3-pip python3-venv \
          openjdk-17-jdk \
          unzip zip \
          ant \
          git \
          libgl1 \
          libglib2.0-0

    - name: Install buildozer
      run: |
        pip3 install --user --upgrade pip
        pip3 install --user buildozer cython

    - name: Set ANT path
      run: |
        echo "ANT_HOME=/usr/share/ant" >> $GITHUB_ENV
        echo "PATH=/usr/share/ant/bin:$PATH" >> $GITHUB_ENV

    - name: Build APK
      run: |
        export PATH=$PATH:/home/runner/.local/bin
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
